ply
__pycache__
parsetab.py
parser.out
webpage.html
India (2021).html
India (2021).txt
India (January–May 2020).html
India (January–May 2020).txt
India (June–December 2020).html
India (June–December 2020).txt
getData.py